<header class="fixed-top">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand">
      <i (click)="menu.toggle()" class="fa fa-bars mr-2"></i>
      ALURAPIC
    </a>

    <ap-menu #menu></ap-menu>
    <div *ngIf="(user$ | async) as user; else login">
      <i class="fa fa-user-circle mr-1"></i>
      <a class="mr-1">Olá {{ user.name }}!</a>
      <a (click)="logout()">(Logout)</a>
    </div>

    <ng-template #login>
      <span>
        <a [routerLink]="['/']"> Please, login!</a>
      </span>
    </ng-template>

    <div class="fixed-top">
      <ap-alert></ap-alert>
   </div>

  </nav>
</header>
